@font-face {
  font-family: 'Source Han Sans SC VF';
  src: url('/fonts/SourceHanSansSC-VF.woff2') format('woff2');
  font-display: block;
  font-style: normal;
  font-weight: 250 900;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-display: block;
  font-style: normal;
  font-weight: 400;
}
